@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: #FEFAF6;
    color: rgb(28, 28, 28);
    font-family: "Poppins", sans-serif;
}

.logo{
    font-family: "Playwrite MX";
}

h1{
    font-size: 1.7rem;
    font-weight: 600;
}

h2{
    font-size: 1.3rem;
    font-weight: 500;
}

h3{
    font-size: 1.2rem;
    font-weight: 400;
}

p{
    font-size: 1.0rem;
}