@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: #FEFAF6;
    color: rgb(28, 28, 28);
    font-family: "Poppins", sans-serif;
}

.logo{
    font-family: "Playwrite MX";
}